@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

@import "../scss/modules/form.scss";

body {
  background-color: #f0f2ef;

  margin: 0;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;

  @media (max-width: 767px) {
    font-size: 0.8rem;
  }
}

.navigation {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  top: 6px;
  position: fixed;
  background: rgba(215, 214, 214, 0.95);
  padding: 4px;

  &__link {
    color: #36413e;
    font-size: 26px;
    text-decoration: none;
    transition: transform 0.3s linear;
    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 767px) {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    position: fixed;
    background: rgba(215, 214, 214, 0.95);
    width: 100%;
    top: 0;

    &--open {
      display: none;
    }

    &__link {
      color: #36413e;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      padding: 8px 16px;
    }
  }
}

.main {
  max-width: 1024px;
  margin: 16px auto;
  padding: 16px;

  @media (max-width: 767px) {
    margin: 40px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-template-areas:
      "header image"
      "section section";
  }
}

@keyframes boom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}

.main-header {
  margin: 45px auto 10px;

  &__title {
    color: #7d4e57;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    padding: 0;
    margin-left: 0;
    transition: color 0.4s linear, transform 0.6s ease-in-out;

    &::before {
      display: inline-block;
      content: "💻";
      animation: boom 1s linear infinite;
    }

    &::after {
      display: inline-block;
      content: "💻";
      animation: boom 1s linear infinite;
    }

    &:hover {
      color: #2b2c2c;
      transform: scale(1.2);
    }
  }

  &__image {
    width: 120px;
    float: left;
    margin: 34px 30px;
    border-radius: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    transform-origin: left top;
    &:hover {
      transform: scale(1.2);
    }
  }

  @media (max-width: 767px) {
    margin: 0;
    grid-area: header;
    font-size: 14px;

    &__image {
      margin: 0;
      grid-area: image;
      width: 120px;
      border-radius: 30%;
      box-sizing: border-box;
    }
  }
}

.articles {
  @media (max-width: 767px) {
    grid-area: section;
  }
}

.main-header .main-header .articles__heading {
  color: #212d40;
}

.article__title {
  color: #364156;
}

.list {
  margin-bottom: 10px;
  list-style: none;

  &__item {
    margin: 4px 4px 0 0;
  }
}

.hamburger {
  display: none;

  @media (max-width: 767px) {
    display: block;
    font-size: 40px;
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    background: none;
  }
}

.footer {
  box-sizing: border-box;
  margin: 20px auto 0;
  width: 100%;
  padding: 10px;
  background-color: #7d4e57;
  color: #fefefe;
  text-align: center;
}
